@using PagedList.Mvc

@model PagedList.IPagedList<ArtPlanning.ViewModels.FolderViewModel>

@if (Model.Count() > 0)
{    
    <ul class="sortable-list agile-list ui-sortable" id="folders-list">
        @foreach (var item in Model)
        {
        <li class="warning-element available-folder" id=@item.ID data-folder=@item.ID data-folder-name=@item.Name data-toggle="modal" data-target="#addCalendarTaskModal">
            <span style="display: block;">
                @item.Name&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<span style="font-size: 11px;">@item.CustomerName</span><a class="close-link close-folder-link" id="close_folder_link_@item.ID" data-folder=@item.ID data-folder-name=@item.Name data-toggle="tooltip" data-placement="auto" title="" data-html="true" data-original-title="Clôturer le dossier <br />@item.Name" style="float: right; cursor: pointer; color: #c4c4c4; padding-left: 3px; padding-right: 3px; padding-bottom: 3px;"><i class="fa fa-times"></i></a>
            </span>
            @*<div class="agile-detail">
                <span style="font-size: 10px;"><i class="far fa-user"></i>&nbsp;@item.Description</span>
              </div>*@
            <div class="agile-detail">
                <span style="font-size: 10px;">@item.Description</span>
            </div>
        </li>
        }
    </ul>
    @Html.PagedListPager(Model, page => Url.Action("GetFoldersView", "Agenda", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
}
else
{
    <div class="widget yellow-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fas fa-exclamation-circle fa-4x"></i>
            <h3 class="font-bold m-xs">Dossier</h3>
            <small>Aucun dossier trouvé.</small>
        </div>
    </div>
}
