<!DOCTYPE html>
<html>
<head>

    <!-- META -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Your description" />
    <meta name="keywords" content="Your keywords" />
    <meta name="author" content="EWAPPS S.A." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- LINK -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <title>ART SHIPPERS | @ViewBag.Title</title>

    <!-- LOCAL STYLE -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- PRIMARY STYLE -->
    @Styles.Render("~/toastr/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/swal/css")

    <!-- JQUERY SCRIPT -->
    @Scripts.Render("~/bundles/jquery")

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body class="gray-bg">

    <!-- MAIN CONTENT VIEW  -->
    @RenderBody()

    <!-- SECTION FOR MAIN SCRIPTS RENDER -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slimscroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/bundles/swal")
    @Scripts.Render("~/bundles/toastr")

    <!-- HANDLER FOR LOCAL SCRIPTS -->
    @RenderSection("scripts", required: false)

</body>
</html>
